  .date_header{
            position:relative;
            width:100px;
            height:20px;
            float:left;
        }
        input{
            width:100px;
            height:15px;
        }
        .image{
            height:10px;
            width:10px;
        }
        img{
            height:10px;
            width:10px;
        }
        .narrow_icon{
            position:absolute;
            right:0px;
            top:0px;
        }
        #selectDate{
            width:200px;
        }
        #Date{
            position:relative;
        }
        #calendar_container{
            position:absolute;
        }
        #calendar_container{
            display:none;
        }
        #Date:hover #calendar_container{
            display:block;
        }
        .select{
         background-color:#00FFFF;
        }