body {
}
span {
    display:inline-block;
    width:50px;
    min-height:50px;
    color:black;
    background-color:red;
    margin-right:15px;
    text-align:center;
    line-height:30px;
}
button {
    height: 20px;
    width: 80px;
}
textarea {
    overflow-y:hidden;
    height:100px;
    width:300px;
}
.highlight {
    color:red;
    background-color:white;
}